<div class="form-group mb-2">
    <input type="text" name="full_name" class="form-control mb-2" placeholder="Име и фамилия" value="{{ full_name|default_if_none:'' }}" required>
</div>
<div class="form-group mb-2">
    <input type="text" name="mobile" class="form-control mb-2" placeholder="Телефон" value="{{ mobile|default_if_none:'' }}" required>
</div>
<div class="form-group mb-2">
    <input type="email" name="email" class="form-control mb-2" placeholder="Имейл" value="{{ email|default_if_none:'' }}" required>
</div>
<div class="form-group mb-2">
    <select name="delivery_method" class="form-control rounded" required>
        <option value="">Изберете метод на доставка</option>
        <option value="econt" {% if delivery_method == "econt" %}selected{% endif %}>Еконт</option>
        <option value="econt_box" {% if delivery_method == "econt_box" %}selected{% endif %}>Еконтомат</option>
        <option value="speedy" {% if delivery_method == "speedy" %}selected{% endif %}>Спиди</option>
        <option value="speedy_box" {% if delivery_method == "speedy_box" %}selected{% endif %}>Спидомат</option>
        <option value="personal" {% if delivery_method == "personal" %}selected{% endif %}>Личен адрес</option>
    </select>
</div>
<div class="form-group mb-2">
    <input type="text" name="city" class="form-control mb-2" placeholder="Град" value="{{ city|default_if_none:'' }}" required>
</div>
<div class="form-group mb-2">
    <input type="text" name="address" class="form-control mb-2" placeholder="Адрес" value="{{ address|default_if_none:'' }}" required>
</div>