{% for category in categories %}
    <li>
        <a href="{{ category.url }}" class="header-chevron-toggle">
            {{ category.title }}
            {% if category.children %}
                <span class="submenu-indicator"><span class="submenu-indicator-chevron"></span></span>
            {% endif %}
        </a>
        {% if category.children %}
            <ul class="nav-dropdown">
                <li>
                    <a href="{{ category.url }}">Всички {{ category.title }}</a>
                </li>
                {% include 'partials/_category_menu_recursive.html' with categories=category.children %}
            </ul>
        {% endif %}
    </li>
{% endfor %}