{% for category in categories %}
    <li>
        <a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
        {% if category.subcategories.all %}
            <ul class="nav-dropdown nav-submenu">
                <li>
                    <a href="{{ category.get_absolute_url }}">Всички {{ category.title }}</a>
                </li>
                {% include 'partials/_category_menu_recursive.html' with categories=category.subcategories.all %}
            </ul>
        {% endif %}
    </li>
{% endfor %}
