{% extends 'base.html' %}

{% block robots %}
    <meta name="robots" content="noindex, nofollow" />
{% endblock %}

{% block title %}
    Инструкции за парола изпратени – iBands
{% endblock %}

{% block meta_description %}
    Изпратихме инструкции за възстановяване на парола на вашия имейл адрес. Проверете пощата си и следвайте инструкциите.
{% endblock %}

{% block content %}
    <div class="gray py-3">
        <div class="container">
            <div class="row">
                <div class="colxl-12 col-lg-12 col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url 'store:index' %}">Начало</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Проверете имейла си</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <section class="middle" style="margin-bottom: 400px;">
        <div class="container">
            <div class="row align-items-start justify-content-center">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <h1 class="fw-bold mb-2">Проверете имейла си <i class="fas fa-envelope text-primary ms-2"></i></h1>
                    <p class="mb-3">Изпратихме ви имейл с линк за промяна на паролата</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
