{% extends 'partials/base.html' %} 
{% load static %} 
{% load humanize %}

{% block content %}
    <!-- Breadcrumbs Section -->
    <div class="gray py-3">
        <div class="container">
            <div class="row">
                <div class="colxl-12 col-lg-12 col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'store:index' %}">Начална Страница</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Често задавани въпроси</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <section class="middle">
        <div class="container">
        
            <div class="row justify-content-center">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="sec_title position-relative ">
                        <h1 class="fw-bold pt-3">Свържи се с нас</h1>
                    </div>
                </div>
            </div>
            
            <div class="row align-items-start justify-content-between">
            
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                    <div class="card-wrap-body mb-4">
                        <h4 class="fw-bold mb-3 text-dark">Магазин</h4>
                        <p>1 етаж ТЦ "Гранд"<br> Ул. "Капитан Райчо" 56 <br> Пловдив, България</p>
                    </div>
                    
                    <div class="card-wrap-body mb-3">
                        <h4 class="fw-bold mb-3 text-dark">Телефонен номер</h4>
                        <p class="mb-0">+359 899 333 043</p>   
                    </div>
                    
                    <div class="card-wrap-body mb-3">
                        <h4 class="fw-bold mb-3 text-dark">Drop A Mail</h4>
                        <p class="lh-1 text-dark"> support@ibands.online</p>
                        <p class="lh-1 text-dark"> order@ibands.online</p>
                    </div>
                </div>
                
                <div class="col-xl-7 col-lg-8 col-md-12 col-sm-12">
                    <form class="row" method="POST">
                            {% csrf_token %}
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                            <div class="form-group">
                                <label class="small text-dark fw-medium">Име *</label>
                                <input type="text" name="full_name" class="form-control rounded " placeholder="Име">
                            </div>
                        </div>
                        
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                            <div class="form-group">
                                <label class="small text-dark fw-medium">Имейл *</label>
                                <input type="text" name="email" class="form-control rounded " placeholder="Имейл">
                            </div>
                        </div>
                        
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                            <div class="form-group">
                                <label class="small text-dark fw-medium">Основание</label>
                                <input type="text" name="subject" class="form-control rounded " placeholder="Основание">
                            </div>
                        </div>
                        
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                            <div class="form-group">
                                <label class="small text-dark fw-medium">Съобщение</label>
                                <textarea name="message" class="form-control rounded  ht-80" placeholder="Причина за контакт"></textarea>
                            </div>
                        </div>
                        
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                            <div class="form-group">
                                <button type="submit" class="btn bg-primary text-white btn-sm rounded">Изпрати съобщение <i class="fas fa-envelope"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </section>
{% endblock content %}