{% extends 'base.html' %}
{% load static %}

{% block title %}Доставка, връщане и замяна – iBands{% endblock %}

{% block meta_description %}
    Научете повече за политиката ни за доставка, връщане и замяна на продукти в iBands. Бърза доставка, лесно връщане и сигурност при поръчки.
{% endblock %}

{% block content %}
    {% include 'partials/_breadcrumbs.html' %}

    <section class="middle">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-11 col-lg-12 col-md-6 col-sm-12">
                    <div class="abt_caption">
                        <h1 class="ft-medium mb-4">Доставка и връщане</h1>
                        <p class="mb-4">
                            - Доставки се извършват с куриерска фирма Econt или Speedy.<br />
                            - Доставки се извършват само на територията на България.<br />
                            - Доставки не се извършват в Неделя и официални празници.<br />
                            - Срок на доставка до два работни дни.
                        </p>

                        <p class="mb-4">
                            Има три начина за получаване на пратката:<br />
                            - До офис на Econt<br />
                            - До офис на Speedy<br />
                            - До адрес на клиента
                        </p>

                        <h4 class="mb-2 mt-4">Замяна:</h4>
                        <p class="mb-4">Замяна може да бъде направена в период от 14 дни след получаване, стига продукта да е в ненарушен вид, неразличим от нов.</p>

                        <h4 class="mb-2">Връщане:</h4>
                        <p class="mb-4">
                            Връщането може да бъде направено в период от 14 дни след получаване, стига продукта да е във ненарушен вид, неразличим от нов.<br />
                            За да върнете продукт е нужно да попълните <a href="{% static 'assets/pdfs/return_form.pdf' %}" target="_blank"><strong><u>формуляра за връщане</u></strong></a>, като посочите конкретните артикули, приложите банкова сметка и снимано или сканирано копие от касов бон (бележката получена от куриер).
                        </p>

                        <p class="mb-4">
                            Адресите на които може да върнете продукта са:<br />
                            Econt: ВИП, гр. Пловдив, за АЙБАНДС ЕООД. тел: (+359) 899 333 043<br />
                            Speedy: Мария Луиза, гр. Пловдив, за АЙБАНДС ЕООД. тел: (+359) 899 333 043
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
