{% extends 'partials/base.html' %} 
{% load static %} 
{% load humanize %} 

{% block content %}
    <!-- Breadcrumbs Section -->
    <div class="gray py-3">
        <div class="container">
            <div class="row">
                <div class="colxl-12 col-lg-12 col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'store:index' %}">Начална Страница</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Доставка и връшане</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <section class="middle">
        <div class="container">
            <div class="row align-items-center justify-content-between">
            
                <div class="col-xl-11 col-lg-12 col-md-6 col-sm-12">
                    <div class="abt_caption">
                        <h2 class="ft-medium mb-4">Доставка и връщане</h2>
                        <p class="mb-4">- Доставки се извършват с куриерска фирма Econt или Speedy.<br>
                        - Доставки се извършват само на територията на България.<br>
                        - Доставки не се извършват в Неделя и официални празници.<br>
                        - Срок на доставка до два работни дни.</p>

                        <p class="mb-4">Има три начина за получаване на пратката:<br>
                        - До офис на Econt<br>
                        - До офис на Speedy<br>
                        - До адрес на клиента</p>

                        <h4 class="mb-2 mt-4">Замяна:</h4>
                        <p class="mb-4">Замяна може да бъде направена в период от 14 дни след получаване, стига продукта да е във ненарушен вид, нерачличим от нов.</p>

                        <h4 class="mb-2">Връщане:</h4>
                        <p class="mb-4">Връщането може да бъде направено в период от 14 дни след получаване, стига продукта да е във ненарушен вид, неразчличим от нов.<br>
                        За да върнете продукт е нужно да попълните формуляра по-долу, като посочите конкретните артикули, приложите банкова сметка и снимано или сканирано копие от касов бон (бележката получена от куриер).</p>

                        <p class="mb-4">Адресите на които може да върнете продукта са:<br>
                        Econt: ВИП, гр. Пловдив, за АЙБАНДС ЕООД. тел: 0899333043<br>
                        Speedy: Мария Луиза, гр. Пловдив, за АЙБАНДС ЕООД. тел: 0899333043</p>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
{% endblock content %}