{% extends 'base.html' %}
{% load humanize %}
{% load pricing %}

{% block robots %}
    <meta name="robots" content="noindex, nofollow" />
{% endblock %}

{% block title %}
    Детайли за поръчка – iBands
{% endblock %}

{% block meta_description %}
    Вижте подробности за избраната поръчка: продукти, суми, статус на доставка и плащане във вашия профил в iBands.
{% endblock %}

{% block content %}
    {% include 'partials/_breadcrumbs.html' %}

    <section class="middle">
        <div class="container">
            <div class="row align-items-start justify-content-between">
                {% include 'customer/_sidebar.html' %}

                <div class="col-12 col-md-12 col-lg-8 col-xl-8">
                    <div class="row mb-4">
                        <h4 class="mb-0 mb-2 fw-bold">Номер на поръчка: #{{ order.order_id }}</h4>
                    </div>

                    <div class="order-data">
                        <div class="ord_list_wrap border mb-4">
                            <div class="ord_list_body text-left">
                                {% for item in order.order_items.all %}
                                    <div class="row align-items-center justify-content-center m-0 py-4 border-bottom">
                                        <div class="col-xl-6 col-lg-5 col-md-5 col-12">
                                            <div class="cart_single d-flex align-items-center gap-3">
                                                <div class="cart_selected_single_thumb">
                                                    <a href="{{ item.product.get_absolute_url }}"><img src="{{ item.product.image.url }}" width="100" class="img-fluid rounded" alt="" /></a>
                                                </div>
                                                <div class="cart_single_caption pl-3">
                                                    <h5 class="mb-1"><span class="fw-bold"></span>{{ item.product.name }}</h5>
                                                    <p class="mb-0 mt-0">
                                                        <span class="fw-bold">Тип:</span>{{ item.product.category.title }}
                                                    </p>
                                                    {% if item.size %}
                                                        <p class="mb-0">
                                                            <span class="fw-bold">Дължина:</span> {{ item.size }}
                                                        </p>
                                                    {% endif %}
                                                    {% if item.model %}
                                                        <p class="mb-0">
                                                            <span class="fw-bold">Модел:</span> {{ item.model }}
                                                        </p>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-2 col-lg-3 col-md-3 col-6 text-center">
                                            <p class="mb-1 p-0 text-muted">Цена</p>
                                            <div class="delv_status d-flex justify-content-center">
                                                {% if item.product.sale_price and item.product.sale_price < item.product.price %}
                                                    <div class="d-flex flex-column lh-1">
                                                        {% regular_plus_delta item.product item.size item.model as reg_plus %}
                                                        <span class="text-muted text-decoration-line-through">{{ reg_plus|intcomma }} лв.</span>
                                                        <h4 class="fs-sm fw-semibold mb-0">{{ item.price|intcomma }} лв.</h4>
                                                    </div>
                                                {% else %}
                                                    <h4 class="fs-sm fw-semibold mb-0 lh-1">{{ item.price|intcomma }} лв.</h4>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-xl-2 col-lg-3 col-md-3 col-6 text-center">
                                            <p class="mb-1 p-0 text-muted">Статус</p>
                                            <div class="delv_status d-flex justify-content-center">
                                                <span class="fw-medium text-warning bg-light-warning">{{ order.get_order_status_display }}</span>
                                            </div>
                                        </div>
                                        <div class="col-xl-2 col-lg-3 col-md-3 col-6 text-center">
                                            <p class="mb-1 p-0 text-muted">Платежен статус</p>
                                            <div class="d-flex justify-content-center">
                                                <span class="fw-medium">{{ order.get_payment_status_display }}</span>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="card mb-4">
                            <div class="card-header bg-light">
                                <h5 class="mb-0">Проследяване на поръчка</h5>
                            </div>
                            <div class="card-body">
                                <h6 class="fs-sm mb-2"><strong>ID за проследяване:</strong> {{ order.tracking_id|default:'Все още не е добавен' }}</h6>
                                <h6 class="fs-sm mb-3"><strong>Куриерска услуга:</strong> {{ order.get_shipping_service_display|default:'Все още не е добавен' }}</h6>
                                {% if order.tracking_id and order.shipping_service %}
                                    {% if order.shipping_service == 'econt' %}
                                        <a target="_blank" href="https://www.econt.com/services/track-shipment/{{ order.tracking_id }}" class="btn btn-primary rounded btn-sm">Подробно проследяване <i class="fas fa-shipping-fast ms-1"></i></a>
                                    {% elif order.shipping_service == 'speedy' %}
                                        <a target="_blank" href="https://www.speedy.bg/bg/track-shipment?shipmentNumber={{ order.tracking_id }}" class="btn btn-primary rounded btn-sm">Подробно проследяване <i class="fas fa-shipping-fast ms-1"></i></a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="card mb-4">
                            <div class="card-header bg-light">
                                <h5 class="mb-0">Резюме на поръчката</h5>
                            </div>
                            <div class="card-body">
                                <h6 class="fs-sm mb-2"><strong>Дата:</strong> {{ order.date }}</h6>
                                <h6 class="fs-sm mb-2"><strong>Междинна сума:</strong> {{ order.sub_total|intcomma }} лв.</h6>
                                <h6 class="fs-sm mb-2"><strong>Доставка:</strong> {{ order.shipping|intcomma }} лв.</h6>
                                {% if order.saved %}
                                    <h6 class="fs-sm mb-2"><strong>Отстъпка:</strong> -{{ order.saved|intcomma }} лв.</h6>
                                {% endif %}
                                <h6 class="fs-sm mb-0"><strong>Общо:</strong> {{ order.total|intcomma }} лв.</h6>
                            </div>
                        </div>

                        <div class="card mb-4">
                            <div class="card-header bg-light">
                                <h5 class="mb-0">Информация за клиента</h5>
                            </div>
                            <div class="card-body">
                                <h6 class="fs-sm mb-2"><strong>Име:</strong> {{ order.address.name }}</h6>
                                {% if order.address.face %}
                                <h6 class="fs-sm mb-2"><strong>Лице за контакт:</strong> {{ order.address.face }}</h6>
                                {% endif %}
                                <h6 class="fs-sm mb-2"><strong>Имейл:</strong> {{ order.address.email }}</h6>
                                <h6 class="fs-sm mb-0"><strong>Телефон:</strong> {{ order.address.phone }}</h6>
                            </div>
                        </div>

                        <div class="card mb-4">
                            <div class="card-header bg-light">
                                <h5 class="mb-0">Данни за доставка</h5>
                            </div>
                            <div class="card-body">
                                <h6 class="fs-sm mb-2"><strong>Метод на доставка:</strong> {{ order.address.get_delivery_method_display }}</h6>
                                <h6 class="fs-sm mb-2"><strong>Населено място:</strong> {{ order.address.city }}</h6>
                                {% if order.address.office_name %}
                                <h6 class="fs-sm mb-0"><strong>Офис:</strong> {{ order.address.office_name }}{% if order.address.office_code %} ({{ order.address.office_code }}){% endif %}</h6>
                                {% else %}
                                <h6 class="fs-sm mb-0"><strong>Адрес:</strong> {{ order.address.address }}</h6>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <a href="{% url 'store:contact' %}" class="btn btn-primary rounded btn-sm ms-2">Свържете се с нас <i class="fas fa-phone ms-2"></i></a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
