{% extends 'base.html' %}
{% load humanize %}

{% block robots %}
    <meta name="robots" content="noindex, nofollow" />
{% endblock %}

{% block title %}
    Любими продукти – iBands
{% endblock %}

{% block meta_description %}
    Разгледайте и управлявайте любимите си продукти и желани артикули в iBands. Запазете желанията си за по-късно пазаруване.
{% endblock %}

{% block content %}
    {% include 'partials/_breadcrumbs.html' %}

    <section class="middle">
        <div class="container">
            <div class="row align-items-start justify-content-between">
                {% include 'customer/_sidebar.html' %}

                <div class="col-12 col-md-12 col-lg-8 col-xl-8">
                    <div class="row mb-4">
                        <h4 class="mb-0 mb-2 fw-bold">Любими ({{ wishlist_count }})</h4>
                    </div>

                    <div class="row align-items-center rows-products">
                        {% for w in wishlist %}
                            {% include 'partials/_product_list.html' with product=w.product wishlist_id=w.id show_remove_wishlist=True col_class="col-12 col-md-6 col-lg-4" %}
                        {% empty %}
                            <p>Няма артикули в любими</p>
                        {% endfor %}
                    </div>

                    <ul class="pagination">
                        {% if wishlist.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ wishlist.previous_page_number }}">Предишна</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">Предишна</span>
                            </li>
                        {% endif %}

                        {% for num in wishlist.paginator.page_range %}
                            <li class="page-item {% if wishlist.number == num %}active{% endif %}">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endfor %}

                        {% if wishlist.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ wishlist.next_page_number }}">Следваща</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">Следваща</span>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
