{% extends 'admin/base_site.html' %}
{% block content %}
    <h1>{{ title }}</h1>
    <ul>
        <li>User Requests: {{ stats.user_request_count }}</li>
        <li>User Unique Requests: {{ stats.user_request_unique_count }}</li>
        <li>Bot Requests: {{ stats.bot_request_count }}</li>
        <li>Bot Unique Requests: {{ stats.bot_request_unique_count }}</li>
        <li>User Errors: {{ stats.user_error_count }}</li>
        <li>User Unique Errors: {{ stats.user_error_unique_count }}</li>
        <li>Bot Errors: {{ stats.bot_error_count }}</li>
        <li>Bot Unique Errors: {{ stats.bot_error_unique_count }}</li>
    </ul>
{% endblock %}
