{% load humanize %}
{% load pricing %}

<div id="order-items-block">
    <div style="overflow-y: scroll; max-height: 650px; overflow-x: hidden" class="p-3">
        {% for item in order.order_items.all %}
            <div class="shadow rounded mb-3">
                <div class="row d-flex align-items-center text-center p-3">
                    {% include 'store/_product_card.html' with item=item %}
                    <div class="col-xl-2">
                        <p class="mb-0">Цена</p>
                        {% with original_price=item.product.price %}
                            {% if item.product.sale_price and item.product.sale_price < item.product.price %}
                                <span class="text-decoration-line-through">{% regular_plus_delta item.product item.size item.model as reg_plus %}{{ reg_plus|intcomma }} лв.</span>
                            {% else %}
                                <span class="invisible d-none d-xl-inline">0 лв.</span>
                            {% endif %}
                            <h4 class="fs-3 {% if item.product.sale_price and item.product.sale_price < item.product.price %}
                                    fw-bold text-danger
                                {% else %}
                                    text-dark
                                {% endif %}">
                                {{ item.price|intcomma }} лв.
                            </h4>
                        {% endwith %}
                    </div>
                    <div class="col-xl-2">
                        <p class="mb-0">Количество</p>
                        <span class="invisible d-none d-xl-block">0 лв.</span>
                        <h4 class="fs-3">{{ item.qty }}</h4>
                    </div>
                    <div class="col-xl-2">
                        <p class="mb-0">Общо</p>
                        <span class="invisible d-none d-xl-block">0 лв.</span>
                        <h4 class="fs-3">{{ item.sub_total|intcomma }} лв.</h4>
                    </div>
                    <div class="col-xl-1">
                        <a href="{% url 'store:cart' %}" class="btn btn-primary btn-sm rounded"><i class="fas fa-edit"></i></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>