{% for p in products %}
    <!-- Single Product Card -->
    <div class="col-6 col-md-4 col-lg-3">
        <div class="product_grid card b-0 rounded-3 shadow m-2 p-2">
            <!-- Product Image -->
            <div class="card-body p-0">
                <div class="shop_thumb position-relative">
                    {% if p.regular_price and p.regular_price > p.price %}
                        <div class="discount-badge">
                            -{{ p.discount_percent }}%
                        </div>
                    {% endif %}
                    <a class="card-img-top d-block overflow-hidden" href="{{ p.get_absolute_url }}">
                        {% include 'store/_hover_image.html' with image=p.image hover_image=p.gallery.first.image alt=p.name %}
                    </a>
                </div>
            </div>
            <!-- Product Info -->
            <div class="card-footer b-0 p-0 pt-2 bg-white d-flex align-items-end justify-content-between">
                <div class="text-left">
                    <div class="elso_titl">
                        {% if p.category.root != p.category %}
                            <span class="small text-muted">{{ p.category.root.title }}</span>
                        {% endif %}
                        <span class="small">{{ p.category.title }}</span>
                    </div>
                    <h5 class="fs-md mb-0"><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></h5>
                    <div class="d-flex align-items-center justify-content-start gap-2">
                        <!-- Price -->
                        <div class="elis_rty mb-2">
                            {% if p.regular_price %}
                                <span class="ft-medium line-through fs-xs me-2">{{ p.regular_price }} лв.</span>
                                <span class="ft-bold text-danger fs-xs">{{ p.price }} лв.</span>
                            {% else %}
                                <span class="ft-bold fs-xs">{{ p.price }} лв.</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- Wishlist Icon -->
                <a class="add_to_wishlist d-inline-flex align-items-center justify-content-center" style="width: 40px; height: 40px;" data-product_id="{{ p.id }}">
                    <i class="fa-heart
                        {% if request.user.is_authenticated and p.id in user_wishlist_products %}
                            fs-4 fas text-danger
                        {% else %}
                            fs-5 far text-dark
                        {% endif %}">
                    </i>
                </a>
            </div>
        </div>
    </div>
{% endfor %}
