{% for category in categories %}
    <li>
        <a href="{% url 'store:category' category.get_full_path %}">
            {{ category.title }}
        </a>
        {% if category.subcategories.all %}
            <ul class="nav-dropdown nav-submenu">
                <li>
                    <a href="{% url 'store:category' category.get_full_path %}?filter=subcategories">
                        Всички {{ category.title }}
                    </a>
                </li>
                {% include "store/category_menu_recursive.html" with categories=category.subcategories.all %}
            </ul>
        {% endif %}
    </li>
{% endfor %}