{% extends 'partials/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
    <!-- Hero Section -->
    <section class="p-0 pb-5 mb-5">
        <div class="container-fluid p-0">
            <div class="position-relative">
                <img class="img-fluid w-100" style="height: 40vh; object-fit: cover;" src="{% static 'assets/img/cover.avif' %}" alt="Hero Cover" />
                <div class="position-absolute" style="top: 90%; left: 50%; transform: translate(-50%, -50%);" class="text-center">
                    <a href="{% url 'store:shop' %}" class="btn btn-lg btn-primary rounded px-5 py-3">Пазарувай сега</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Categories Section -->
    <section class="middle mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="sec_title position-relative text-center">
                        <h1 class="ft-bold pt-3">Категории</h1>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-center">
                {% for c in categories %}
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-4">
                    <div class="cats_side_wrap text-center mx-auto mb-3">
                        <div class="sl_cat_01">
                            <div class="d-inline-flex align-items-center justify-content-center p-4 circle mb-2 border">
                                <a href="{% url 'store:category_root' c.slug %}" class="d-block">
                                    {% if c.image %}
                                    <img src="{{c.image.url}}" class="img-fluid" width="80" alt="" />
                                    {% else %}
                                    <img src="{% static 'assets/img/headphones.png' %}" class="img-fluid" width="40" alt="" />
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                        <div class="sl_cat_02" style="min-height: 40px;">
                            <h6 class="m-0 ft-medium fs-sm"><a href="{% url 'store:category_root' c.slug %}">{{c.title}}</a></h6>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Popular Products Section -->
    <section class="middle mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="sec_title position-relative text-center">
                        <h1 class="ft-bold pt-3">Популярни продукти</h1>
                    </div>
                </div>
            </div>

            <div class="row align-items-center rows-products">
                {% for p in products %}
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="product_grid card b-0 rounded-3 shadow m-2 p-2">
                            <!-- Product Image -->
                            <div class="card-body p-0">
                                <div class="shop_thumb position-relative">
                                    {% if p.category.parent %}
                                        <a class="card-img-top d-block overflow-hidden" href="{% url 'store:product_detail' p.category.parent.slug p.category.slug p.slug %}">
                                            <img class="card-img-top" style="width: 100%; height: 100%; object-fit: cover;" src="{{p.image.url}}" alt="..." />
                                        </a>
                                    {% else %}
                                        <a class="card-img-top d-block overflow-hidden" href="{% url 'store:product_detail_root' p.category.slug p.slug %}">
                                            <img class="card-img-top" style="width: 100%; height: 100%; object-fit: cover;" src="{{p.image.url}}" alt="..." />
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Product Info -->
                            <div class="card-footer b-0 p-0 pt-2 bg-white d-flex align-items-start justify-content-between">
                                <div class="text-left">
                                    <div class="elso_titl">
                                        <span class="small">{{p.category.title}}</span>
                                    </div>
                                    <h5 class="fs-md mb-0">
                                        {% if p.category.parent %}
                                            <a href="{% url 'store:product_detail' p.category.parent.slug p.category.slug p.slug %}">{{p.name}}</a>
                                        {% else %}
                                            <a href="{% url 'store:product_detail_root' p.category.slug p.slug %}">{{p.name}}</a>
                                        {% endif %}
                                    </h5>
                                    <div class="d-flex align-items-center justify-content-start gap-2">
                                        <!-- Price -->
                                        <div class="elis_rty mb-0">
                                            {% if p.regular_price %}
                                                <span class="ft-medium text-muted line-through fs-sm me-2">{{p.regular_price}} лв.</span>
                                            {% endif %}
                                            <span class="ft-bold text-dark fs-sm">{{p.price}} лв.</span>
                                        </div>
                                        <!-- Wishlist Icon -->
                                        <a href="#" class="add_to_wishlist text-center" data-product_id="{{p.id}}">
                                            <i class="fas fa-heart fs-6 text-dark"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            {% include 'partials/_pagination.html' %}

            <div class="row justify-content-center">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="position-relative text-center">
                        <a href="{% url 'store:shop' %}" class="btn btn-dark rounded btn-mл mt-5">Разгледай всички <i class="fas fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
