{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
    <!-- Hero Section -->
    <section>
        <div class="container-fluid p-0">
            <div class="position-relative">
                <img class="img-fluid w-100" style="height: 40vh; object-fit: cover;" src="{% static 'assets/img/cover.avif' %}" alt="Hero Cover" />
                <div class="position-absolute" style="top: 90%; left: 50%; transform: translate(-50%, -50%);" class="text-center">
                    <a href="{% url 'store:shop' %}"
                        class="btn fs-lg btn-primary rounded px-3 py-2 px-sm-5 py-sm-3">
                        Пазарувай сега
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Categories Section -->
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="sec_title position-relative text-center">
                        <h1 class="ft-bold pt-3">Категории</h1>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-center">
                {% for c in categories %}
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-4">
                    <div class="cats_side_wrap text-center mx-auto mb-3">
                        <div class="sl_cat_01">
                            <div class="d-inline-flex align-items-center justify-content-center p-4 circle mb-2 border">
                                <a href="{{ c.get_absolute_url }}" class="d-block">
                                    {% if c.image %}
                                    <img src="{{c.image.url}}" class="img-fluid" width="80" alt="" />
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                        <div class="sl_cat_02" style="min-height: 40px;">
                            <h6 class="m-0 ft-medium fs-sm"><a href="{{ c.get_absolute_url }}">{{c.title}}</a></h6>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Popular Products Section -->
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="sec_title position-relative text-center">
                        <h1 class="ft-bold pt-3">Популярни продукти</h1>
                    </div>
                </div>
            </div>

            <div class="row align-items-center rows-products">
                {% include 'partials/_product_list.html' %}
            </div>

            {% include 'partials/_pagination.html' %}

            <div class="row justify-content-center">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="position-relative text-center">
                        <a href="{% url 'store:shop' %}" class="btn btn-dark rounded btn-mл mt-5">Разгледай всички <i class="fas fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
