{% extends 'partials/base.html' %} 

{% block content %}
    <section class="middle" style="margin-bottom: 600px;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-12 col-xl-12 text-center">
                    {% if payment_status == "paid" %}
                        <!-- Icon -->
                        <div class="p-4 d-inline-flex align-items-center justify-content-center circle bg-light-primary text-primary mx-auto mb-4"><i class="fas fa-heart fs-lg"></i></div>
                        <!-- Heading -->
                        <h2 class="mb-2 ft-bold">Поръчката е завършена!</h2>
                        <!-- Text -->
                        <p class="ft-regular fs-md mb-4 mb-sm-5">Вашата поръчка <span class="text-body text-dark fw-bold">#{{order.order_id}}</span> е успешно завършена.<br> Изпратихме детайлите на поръчката на вашия имейл.</p>
                        <!-- Button -->
                        <a href="{% url 'customer:order_detail' order.order_id %}" class="btn rounded btn-primary">Виж поръчката</a>
                    {% endif %}
                </div>
                <div class="col-12 col-md-10 col-lg-8 col-xl-6 text-center">
                    {% if payment_status == "failed" %}
                        <!-- Icon -->
                        <div class="p-4 d-inline-flex align-items-center justify-content-center circle bg-light-danger text-danger mx-auto mb-4"><i class="fas fa-ban fs-lg"></i></div>
                        <!-- Heading -->
                        <h2 class="mb-2 ft-bold">Плащането не бе успешно!</h2>
                        <!-- Text -->
                        <p class="ft-regular fs-md mb-4 mb-sm-5">Вашата поръчка не можа да бъде завършена, моля опитайте отново.</p>
                        <!-- Button -->
                        <a href="{% url 'store:checkout' order.order_id %}" class="btn btn-sm rounded btn-danger">Опитайте отново <i class="fas fa-rotate ms-2"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
